.vscode
lib/
lib64
bin/
include/
data/
etc/
share/
Pickles/
prova.m3u
.ipynb_checkpoints/
H_
Pipfile
Pipfile.lock
notebooks/.cache-teticio
notebooks/.ipynb_checkpoints/
notebooks/H_
notebooks/mix.mp3
notebooks/mp3tovec.html
notebooks/playlists.csv
notebooks/popular_tracks.csv
notebooks/speccy
notebooks/spectrograms
notebooks/tracks.csv
notebooks/tracktovec.html
notebooks/word2vec.model
notebooks/word2vec.model.trainables.syn1neg.npy
notebooks/word2vec.model.wv.vectors.npy
speccy_model
spotify_tracks.p
spotifytovec.p
tracktovec.p
audio-encoder
.cache*
__pycache__
models
data
previews
spectrograms
lightning_logs
