dash
tqdm
mutagen
Flask~=1.0
spotipy
librosa
dash_core_components==0.47.0
dash_html_components==0.16.0
dash_daq==0.1.4
pandas
numpy
dash_html_components
Pillow
tensorflow==2.13.0; sys_platform != 'darwin'
tensorflow-macos==2.13.0; sys_platform == 'darwin'
tensorflow-metal==2.13.0; sys_platform == 'darwin'
numba
markupsafe==2.0.1
