absl-py==2.1.0
astunparse==1.6.3
async-timeout==4.0.3
audioread==3.0.1
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==7.1.2
dash==0.42.0
dash_core_components==0.47.0
dash_daq==0.1.4
dash_html_components==0.16.0
dash_renderer==0.23.0
dash_table==3.6.0
decorator==5.1.1
Flask==1.1.4
Flask-Compress==1.17
flatbuffers==24.3.25
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.66.2
h5py==3.12.1
idna==3.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.4.2
keras==2.13.1
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
Markdown==3.7
MarkupSafe==2.0.1
msgpack==1.1.0
mutagen==1.47.0
numba==0.60.0
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.2
redis==5.1.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
soundfile==0.12.1
soxr==0.5.0.post1
spotipy==2.24.0
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.5.0
tzdata==2024.2
urllib3==2.2.3
Werkzeug==1.0.1
wrapt==1.16.0
zstandard==0.23.0
