Flask==1.0.2
Keras==2.2.4
mutagen==1.42.0
spotipy==2.4.4
librosa==0.6.3
numpy==1.16.3
tqdm==4.31.1
dash_html_components==0.16.0
dash_core_components==0.47.0
pandas==0.24.2
dash==0.42.0
dash_daq==0.1.4
ipython==7.5.0
Pillow==6.0.0
