a {
    color:#F48D2F
}

body {
    color: #B9BEBE;
    background-color: #2C2C2C;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: #9CB59C;
    text-align: center;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

html, body {
    height: 100%
    margin: 0;
    padding: 0;
}

._dash-undo-redo {
    display: none;
}